*{
    font-family: 'Roboto', serif;
    box-sizing: border-box;
}

body{
    margin: 10px;
}
#content{


}
#container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    height: 700px;
    width: 700px;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -330px;
    border: solid black;
}
#button{
    width: 15%;
    display: block;
    margin-left: 42.5%;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.square{
    height: 100%;
    width: 100%;
}